#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# System language
lang en_US.UTF-8
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# Specify epel repository
repo --name="centos" --baseurl="http://mirror.it.ubc.ca/centos/7/os/x86_64/"
repo --name="epel" --baseurl="https://dl.fedoraproject.org/pub/epel/7/x86_64/"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
reboot

# Network information
network --bootproto=dhcp --ipv6=auto --activate
network --hostname=basebox.bcit.local

# Root password
rootpw --iscrypted $6$DUceZ.ZS1Zdo2oU$FFLGjqCIlYsdPol0OOGKJxaE1KOwqmGyTrIdANylpKh8/Jq9O56ZgY/4DeT65KgqK42x2DKz/.NhBCogQ82No1
user --name=admin --password=$6$EQrhWt1d1yJqPQY$DsENGxVowf29/cb26CN6VQizdMfZHy4lmRl94vAWCn3fC6Xlevo7DtADZxGDuON9LX0h9zIqNFHG6QzEDCgHv0 --iscrypted --gecos="admin" --groups="wheel"

# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools
epel-release
git
nginx
mongodb-server
nodejs

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
##sed -i 's/^\(Defaults    requiretty\)/#\1/' /etc/sudoers
%end